<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>
    <!-- Page title -->
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/luna-main-css")
</head>
<body>

    <div class="wrapper">
        <!-- Header-->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div id="mobile-menu">
                        <div class="left-nav-toggle">
                            <a href="#">
                                <i class="stroke-hamburgermenu"></i>
                            </a>
                        </div>
                    </div>
                    <a class="navbar-brand" href="index-2.html">
                        LUNA
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <div class="left-nav-toggle">
                        <a href="#">
                            <i class="stroke-hamburgermenu"></i>
                        </a>
                    </div>
                    <form class="navbar-form navbar-left">
                        <input type="text" class="form-control" placeholder="Search data for analysis" style="width: 175px">
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="versions.html">
                                Versions
                                <span class="label label-warning pull-right">2</span>
                            </a>
                        </li>
                        <li class=" profil-link">
                            <a href="login.html">
                                <span class="profile-address">luna@company.io</span>
                                <img src="images/profile.jpg" class="img-circle" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End header-->
        <!-- Navigation-->
        <aside class="navigation">
            <nav>
                <ul class="nav luna-nav">
                    <li class="nav-category">
                        Quản lý
                    </li>
                    <li class="active">
                        <a href="@Url.Action("Index","ArtistManagement")">
                            Artist
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","ArtistManagement")">
                            Albumn
                        </a>
                        
                    </li>
                    <li>
                        <a href="#forms">
                            Show
                        </a>
                    </li>
                    <li>
                        <a href="#forms">
                            Video
                        </a>
                    </li>
                    <li class="nav-category">
                        Công cụ
                    </li>
                    <li>
                        <a href="#extras">
                            Tin nhắn tuyển dụng
                        </a>
                    </li>
                    <li>
                        <a href="#common">
                            Thư viện ảnh
                        </a>
                    </li>
                    <li class="nav-category">
                       Cấu hình
                    </li>
                    @*<li class="nav-info">
                        <i class="pe pe-7s-shield text-accent"></i>
                        <div class="m-t-xs">
                            <span class="c-white">LUNA</span> admin theme with Dark UI style for monitoring and administration web applications.
                        </div>
                    </li>*@
                </ul>
            </nav>
        </aside>
        <!-- End navigation-->
        <!-- Main content-->
        <section class="content">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </section>
        <!-- End main content-->
    </div>
    <!-- End wrapper-->
    

    @Scripts.Render("~/Content/luna-main-script")
    @RenderSection("scripts", required: false)
</body>
</html>